* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;

    }
}
*/
body {
    display: flex;
    max-width: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;

    width: 100%;
    height: 65px;

}

.menu_esquerdo {
    margin-left: 20px;
}

.menu_esquerdo a {
    position: fixed;

    width: 26px;
    height: 22px;

    /* border: 1px solid black; */

    cursor: pointer;
}

.menu_esquerdo span {
    margin: 4px;
    
    border: 1px solid black;
}

.traco {
    display: flex;
    background-color: black;
    border-radius: 10px;
    width: 18px;
    height: 2px;
}

.logo_cabecalho {
    margin: 0px 40px 0px 40px;
    /* margin-left: 25px; */

    width: auto;
    height: 24px;

}

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;

    max-width: 500px;
    min-width: 300px;

    height: 40px;

    margin-left: auto;
    margin-right: auto;
}

.search {
    display: flex;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 50px;

    /* position: relative; */

    width: 100%;
    /* min-width: 300px; */
    height: 100%;
}

.search_icon{
    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 2px solid rgb(233, 233, 233);
    /* background-color: rgb(233, 233, 233); */

    width: 60px;
    height: 38px;

    padding: 0px 20px;

}

.search_icon img {
    width: 20px;
    height: 20px;
}


.search_input {
    background-color: transparent;
    border: none;
    outline: none;

    padding: 0px 0px 0px 10px;

    width: 100%;
    height: 100%;

}


.mic_icon_background {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: rgb(233, 233, 233); */
    
    border: 1px solid  rgb(233, 233, 233);
    border-radius: 50%;
    
    
    width: 36px;
    height: 36px;
}

.mic_icon_position {
    margin-left: 12px;
}

.menu_direito {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 2.7px;

    width: 20px;

    margin-left: 25px;
    margin-right: 25px;

}

.bolinha {
    background-color: black;
    border-radius: 50%;

    width: 4px;
    height: 4px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 38px;
    
    margin-left: 12px;
}

.login_bar {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 50px;

    width: 100%;
    height: 80%;
}

#login_text{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    color: rgb(0, 85, 196);

}