* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**/
body {  
    max-width: 100%; 
    height: 100dvh;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* height: 1000px; */
}

.my_projects {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;
    padding: 20px;
    
}

.my_projects p {
    font-size: 30px;
    font-weight: bold;
}

.my_projects ul {
    display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style: none;
    
    border: 2px dotted black;
    padding: 30px 120px;
}

.my_projects li {
    background-color: rgba(128, 128, 128, 0.149);
    padding: 3px 15px;
    border-radius: 10px;
}

.my_projects li:hover {
    background-color: rgba(128, 128, 128, 0.408);
    padding: 3px 15px;
    border-radius: 10px;
}

.my_projects a {
    text-decoration: none;
    color: black;

    font-size: 25px;
}