* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;

    width: 200px;
    height: auto;

    margin-left: 20px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;

    width: 100%;
    height: 65px;

}

.menu_esquerdo {
    /* margin-top: 22px; */
    
}

.menu_esquerdo a {
    position: fixed;

    width: 26px;
    height: 22px;

    /* border: 1px solid black; */

    cursor: pointer;
}

.menu_esquerdo span {
    margin: 4px;
    
    border: 1px solid black;
}

.traco {
    display: flex;
    background-color: black;
    border-radius: 10px;
    width: 18px;
    height: 2px;
}

.logo_cabecalho {
    margin: 0px 40px 0px 40px;
    /* margin-left: 25px; */

    width: auto;
    height: 24px;

}

.navbar1 {
    display: flex;
    flex-direction: column;

    .navbar_row{
        margin: 12px 0px;
    }
    
    border-bottom: #dbdbdb 1px solid;
}

.navbar_icon_svg {
    width: 26px;
    height: 26px;

    display: flex;
    flex-direction: row;
}

.navbar_text {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;

}

.navbar_row{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px 0px 10px 4px;

    gap: 14px;

}

.navbar_row:hover {
    background-color: #dbdbdb86;
    border-radius: 8px;
    cursor: pointer;
}
