* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;

    width: 200px;
    height: auto;

    margin-left: 20px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;

    width: 100%;
    height: 65px;

}

.menu_esquerdo {
    /* margin-top: 22px; */
    
}

.menu_esquerdo a {
    position: fixed;

    width: 26px;
    height: 22px;

    /* border: 1px solid black; */

    cursor: pointer;
}

.menu_esquerdo span {
    margin: 4px;
    
    border: 1px solid black;
}

.traco {
    display: flex;
    background-color: black;
    border-radius: 10px;
    width: 18px;
    height: 2px;
}

.logo_cabecalho {
    margin: 0px 40px 0px 40px;
    /* margin-left: 25px; */

    width: auto;
    height: 24px;

}


.navbar_house_base{
    display: flex;

    /* justify-content: center; */
    
    width: 30px;
    height: 30px;
    
    border: 1px solid black;
    
}

.navbar_house_door{
    display: flex;

    width: 35%;
    height: 50%;

    margin: 50% auto 0px auto;
    
    border: 1px solid black;

}

.navbar_house_top{
    display: flex;

    position: fixed;

    width: 30px;
    height: 15px;

    margin: -15px 0px 0px 0px;

    border: 1px solid black;
}

.navbar text {
    font-size: larger;
    font-weight: bold;
}