* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;

    }
}
*/
body {
    display: flex;
    max-width: 100%;
}

/* .cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    background: white;

    border: 1px solid black;

    padding: 0px 0px 0px 20px;

    width: 100%;
    height: 50px;

} */

.cabecalho {
    background-color: #1d2a35;
    display: flex;
    justify-content: space-between;
    padding: 6px;

    gap: 50px;
}

.menu_esquerdo span {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

}

.traco {
    display: flex;
    background-color: black;
    border-radius: 10px;
    width: 25px;
    height: 2px;

}

.logo_cabecalho {
    border: 1px solid black;
}