* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**/
body {  
    max-width: 100%; 
    height: 100dvh;
    /* height: 1000px; */
}

#my_projects_return {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: 20;
}

#my_projects_return a {
    text-decoration: none;
    font-size: 20px;
    
    padding: 10px 20px;
    
    color: black;
    
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

#my_projects_return a:hover {
    background: rgba(255, 255, 255, 0.215);
    border-radius: 10px;
    border: 2px solid black;
}

/**/
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;

    width: 100%;
    height: 65px;

    z-index: 9;

}
/**/
.menu_esquerdo {
    margin-left: 20px;
}

/**/
.menu_esquerdo a {
    position: fixed;
    
    width: 26px;
    height: 22px;
    
    cursor: pointer;
}
/**/
/**/
.menu_esquerdo span {
    margin: 4px;
    
    border: 1px solid black;
}
/**/
/**/
.traco {
    display: flex;
    background-color: black;
    border-radius: 10px;
    width: 18px;
    height: 2px;
}
/**/
/**/
.logo_cabecalho {
    margin: 0px 40px 0px 40px;
    /* margin-left: 25px; */
    
    width: auto;
    height: 24px;
    
}

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50%;
    
    max-width: 500px;
    min-width: 300px;
    
    height: 40px;
    
    margin-left: auto;
    margin-right: auto;
}

.search {
    display: flex;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 50px;
    
    /* position: relative; */
    
    width: 100%;
    /* min-width: 300px; */
    height: 100%;
}

.search_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-left: 2px solid rgb(233, 233, 233);
    /* background-color: rgb(233, 233, 233); */
    
    width: 60px;
    height: 38px;
    
    padding: 0px 20px;
    
}

.search_icon img {
    width: 20px;
    height: 20px;
}


.search_input {
    background-color: transparent;
    border: none;
    outline: none;
    
    padding: 0px 0px 0px 10px;
    
    width: 100%;
    height: 100%;
    
}


.mic_icon_background {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: rgb(233, 233, 233); */
    
    border: 1px solid  rgb(233, 233, 233);
    border-radius: 50%;
    
    
    width: 36px;
    height: 36px;
}

.mic_icon_position {
    margin-left: 12px;
}

.menu_direito {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    gap: 2.7px;
    
    width: 20px;
    
    margin-left: 25px;
    margin-right: 25px;
    
}

.bolinha {
    background-color: black;
    border-radius: 50%;
    
    width: 4px;
    height: 4px;
}

.login {
    display: flex;
    
    width: 130px;
    height: 38px;
    
    margin-left: 12px;
}

.login_bar {
    display: flex;
    align-items: center;
    
    border: 1px solid rgb(233, 233, 233);
    border-radius: 50px;
    
    width: 130px;
    height: 38px;
    
    padding: 0px 10px 0px 10px;
    
    gap: 8px;
    
}

#login_text{
    font-size: 14px;
    color: rgb(0, 85, 196);
    
    font-weight: 500;
    
    width: 65px;
    
}

#menu_esquerdo{
    position: absolute;
    top: 0;
    left: -250px; /* começa escondido */
    width: 250px;
    height: 100vh;
    background: white;
    transition: 0.3s;
    z-index: 12;

    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    
    cursor: default;
}

#menu_esquerdo.show{
    left: 0;

}

.menu_esquerdo:hover {
    outline: 1px solid black;
    outline-offset: 1px;
    
    cursor: pointer;
}

#menu_esquerdo_botao {
    margin-left: 20px;
    width: fit-content;
    height: fit-content;
}

#menu_esquerdo_botao:hover {
    outline: 1px solid black;
    outline-offset: 2px;
    
    cursor: pointer;

}

#menu_esquerdo_botao span {
    margin: 4px;
    border: 1px solid black;
}

#botao_menu {
    /* position: relative; */
}

.logo_menu_esquerdo {
    margin: 0px 40px 0px 40px;
    
    width: auto;
    height: 24px;
}

.menu_esquerdo_parte_topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;

    width: 100%;
    height: 65px;
}


.hidden {
    visibility: hidden;
}

.no_scroll {
    overflow: hidden;
}

body.blurry_background::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 8;
}

.menu_esquerdo_parte_meio {
    padding: 0px 10px 0px 20px;
}

.navbar {
    display: flex;
    flex-direction: column;

    padding: 18px 0px 0px 0px;
    gap: 12px;
}

.border_bottom {
    margin-left: -20px;
    border-bottom: #dbdbdb 1px solid;
}

.navbar .navbar_row {
    margin: 0px 0px;
}

.navbar_row{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 8px 0px 8px 4px;

    gap: 25px;

}

.navbar_row:hover {
    background-color: #dbdbdb86;
    border-radius: 8px;
    cursor: pointer;

}

.navbar_text {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;

    width: fit-content;
}

.login_bar:hover {
    background-color: #065fd4;
    border-radius: 50px;
    cursor: pointer;
}