* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**/
body {
    display: flex; 

    width: 200px;
    height: auto;

    margin-left: 20px;
}
/**/
/**/
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;

    width: 100%;
    height: 65px;

}
/**/
.menu_esquerdo_tudo {
    /* border-right: 0.5px dotted #000000; */
    
}

.menu_esquerdo_container {
    padding: 0px 10px 0px 0px;
}

/**/
.menu_esquerdo a {
    position: fixed;

    width: 26px;
    height: 22px;

    /* border: 1px solid black; */

    cursor: pointer;
}
/**/
/**/
.menu_esquerdo span {
    margin: 4px;
    
    border: 1px solid black;
}
/**/
.traco {
    display: flex;
    background-color: black;
    border-radius: 10px;
    width: 18px;
    height: 2px;
}
/**/
/**/
.logo_cabecalho {
    margin: 0px 40px 0px 40px;
    /* margin-left: 25px; */

    width: auto;
    height: 24px;

}
/**/

.navbar1 {
    display: flex;
    flex-direction: column;

    padding: 18px 0px;
    gap: 12px;

    .navbar_row{
        margin: 0px 0px;
    }
    
    border-bottom: #dbdbdb 1px solid;
}

.navbar2 {
    display: flex;
    flex-direction: column;

    padding: 18px 0px;
    gap: 6px;

    .navbar_row{
        margin: 0px 0px;
    }
    
    border-bottom: #dbdbdb 1px solid;

}
.navbar3 {
    display: flex;
    flex-direction: column;

    padding: 18px 0px;
    gap: 6px;

    .navbar_row{
        margin: 0px 0px;
    }
    
    border-bottom: #dbdbdb 1px solid;

}



.navbar_row{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 8px 0px 8px 4px;

    gap: 25px;

}

.navbar_row:hover {
    background-color: #dbdbdb86;
    border-radius: 8px;
    cursor: pointer;

}

.navbar_text {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;

}


/* .navbar_icon_svg {
    width: 26px;
    height: 26px;

    display: flex;
    flex-direction: row;
} */

