* {
    margin: 0;
    padding: 0;
}

html, body {
    position: absolute;

    width: 100%;
    height: 640px;

    scrollbar-width: none;
    /* z-index: 0; */

    overflow: hidden;
}

#bird {
    position: absolute;
    display: flex;

    top: 30%;
    left: 45%;
    transform: translate(-45%);
}

/* #background {
    background-image: url("./img/flappybirdbg.png");

    scale: 2;
} */

#background {
    position: absolute;

    display: flex;
    flex-direction: column;
    /* align-items: center; Centraliza os filhos horizontalmente */

    width: 360px;
    left: 50%;

    margin-left: -180px; /* metade de 360px */

    /* z-index: 1; */
    overflow: hidden; /* Esconde o que sai fora */
}

#background_top {
    /* position: relative; */
    background-image: url("./img/background/flappybird_bg_top.png");
}

#background_bottom {
    position: relative;
    z-index: 2;
    background-image: url("./img/background/flappybird_bg_bottom.png");
}

#pipes {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 55%;
    top: -0%;
    gap: 0%;
    transform: translateX(-50%) translateY(-50%) scale(0.15);
    width: 360px;
    height: 576px;
    /* z-index: 1; */
}

#pipe_top {
    position: relative;
    top: -0%;
}

#pipe_bottom {
    position: relative;
    top: 0%;
}


