* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;

    scrollbar-width: none;
}

#bird {
    position: absolute;
    display: flex;

    top: 30%;
    left: 20px;
    
}