* {
    margin: 0;
    padding: 0;
}

html, body {
    position: absolute;
    /* display: flex;
    justify-items: center; */

    width: 100%;
    height: 640px;

    scrollbar-width: none;
    /* z-index: 0; */

    overflow: hidden;

    /* background-color: black; */
}

body {
    /* margin-top: 10vh; */
}

/* @media (prefers-color-scheme: light) {
    
    body {
        background-color: white;
    }

    #overlay_left {
        background-color: white;
    }

    #overlay_right {
        background-color: white;
    }
    

}

@media (prefers-color-scheme: dark) {
     
    body {
        background-color: black;
    }

    #overlay_left {
        background-color: black;
    }

    #overlay_right {
        background-color: black;
    }
} */

/* #UI {
    position: absolute;
} */

#bird {
    position: absolute;
    display: flex;

    top: 30%;
    left: 45%;
    transform: translate(-45%);
    z-index: 6;
}

#overlay_left {
    content: " ";
    
    position: absolute;

    width: 0px;
    height: 0px;

    z-index: 5;

    background-color: white;
    
    display: none;
}

#overlay_right {
    content: " ";
    
    position: absolute;

    width: 0px;
    height: 0px;

    z-index: 5;

    background-color: white;

    display: none;
}

#background {
    position: absolute;

    display: flex;
    flex-direction: column;
    /* align-items: center; Centraliza os filhos horizontalmente */

    width: 360px;
    left: 50%;

    margin-left: -180px; /* metade de 360px */

    /* z-index: 1; */
    overflow: hidden; /* Esconde o que sai fora */
}

#background_top {
    /* position: relative; */
    background-image: url("./img/background/flappybird_bg_top.png");
    z-index: 1;
}

#background_bottom {
    position: relative;
    z-index: 4;
    background-image: url("./img/background/flappybird_bg_bottom.png");
}

#pipes {
    position: absolute;
    display: flex;
    gap: 60px;

    left: 0vh;
}

#pipe {
    /* display: show; */
    left: 63vw;
}

.pipes {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 640px;
    left: 55%;
    top: -0%;
    gap: 0%;
    transform: translateX(-50%) translateY(-50%) scale(0.15);
    width: 360px;
    height: 576px;
    z-index: 1;
}

#pipe #pipe_top {
    position: relative;
    top: 0%;
}

#pipe #pipe_bottom {
    position: relative;
    top: 0%;
}