* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#bird {
    position: absolute;
    display: flex;

    top: 50%;
    left: 20px;

    width: 20px;
    height: 20px;
    
    background: yellow;
    border: black 1px solid;
}